#blogs-container
{
    position: relative;
}

#blogs-container .divider
{
    background: #bfbfbf;
    height: 97%;
    left: 49.9%;
    position: absolute;
    top: 2em;
    width: 0.1%;
}

#blogs-container .fusion-posts-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 2em auto;
    padding: 0em;
    width: 100%;
}

#blogs-container .fusion-posts-container article
{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 0 3em;
}

#blogs-container .fusion-posts-container article .fusion-post-content
{
    padding: 0em;
    position: relative;
}

#blogs-container .fusion-posts-container article .fusion-flexslider,
#blogs-container .fusion-posts-container article .fusion-flexslider .slides,
#blogs-container .fusion-posts-container article .fusion-flexslider .slides li,
#blogs-container .fusion-posts-container article .fusion-flexslider .slides li .full-video,
#blogs-container .fusion-posts-container article .fusion-flexslider .slides li .fusion-image-wrapper
{
    height: 100%;
    margin: 0px;
}

#blogs-container .fusion-posts-container article .fusion-flexslider .slides li img
{
    height: inherit;
}

#blogs-container .fusion-posts-container article .fusion-flexslider .slides li iframe
{
    width: -webkit-fill-available;
    height: inherit;
    width: -moz-available;
}

#blogs-container .fusion-posts-container .fusion-meta-info
{
    display: none;
}

#blogs-container .fusion-posts-container article h2
{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    line-height: 0.75em !important;
    margin: 0;
    padding: 0.75em 0.75em 1em;
}

#blogs-container .fusion-posts-container article h2 a
{
    font-size: 16px;
}

#blogs-container .fusion-posts-container article:nth-child(odd) h2::after
{
    content: '';
    width: 100%;
    height: 1px;
    background: #bfbfbf;
    position: absolute;
    top: 50%;
    right: -2em;
    width: 2em;
}

#blogs-container .fusion-posts-container article:nth-child(even) h2::before
{
    content: '';
    width: 100%;
    height: 1px;
    background: #bfbfbf;
    position: absolute;
    top: 50%;
    left: -2.1em;
    width: 2.1em;
}

#blogs-container .fusion-posts-container article:nth-child(2)
{
    margin-top: 3em;
}

#blogs-container .fusion-posts-container article:nth-child(odd)
{
    margin-top: -3em;
}

#blogs-container .fusion-posts-container article:first-child
{
    margin-top: 0px;
}

#search
{
    background: #F6F8F9 0% 0% no-repeat padding-box;
    margin: -1em auto 0em;
    padding: 1em 2em;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#search .logo,
#search .title
{
    display: flex;
}

#search .circle
{
    background-color: #01759B;
    border-radius: 100%;
    padding: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    padding: 10px;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    width: 95px;
}

#search .circle i
{
    font-size: 30px;
    padding-top: 2px;
}

#search .title
{
    flex-direction: column;
}

#search .title h1
{
    font-size: 32px;
    margin: 0px;
    color: #868686;
}

#search .title h1 small
{
    display: block;
    color: #282828;
    font-size: 16px;
    font-weight: 300;
}

#search .category-form
{
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search .category-form .instruction
{
    color: #01759B;
    font-weight: bold;
}

#search .select-category-group
{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    position: relative;
    width: 50%;
    max-width: 200px;
}

#search .select-category-group .button
{
    border-bottom: 3px solid #1b84a7;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
}

#search .select-category-group .button i
{
    float: right;
}

#search .select-category-group .input
{
    background: #f6f8f9;
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
    position: absolute;
    padding: 0em;
    top: 50px;
    transition: all 0.5s ease;
    width: 100%;
    z-index: 100;
}

#search .select-category-group .input.active
{
    height: auto;
}

#search .select-category-group .input .category-item {
    padding: 0em 0.5em;
    transition: all 0.5s ease;
}
#search .select-category-group .input .category-item:hover {
    background: #1b84a7;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 1100px){
    #blogs-container .fusion-posts-container
    {
        display: block;
    }

    #blogs-container .fusion-posts-container article
    {
        padding: 0 !important;
        margin: 1em 0em !important;
    }

    #search .logo
    {
        display: none;
    }

    #search .category-form
    {
        display: block;
    }

    #search .select-category-group
    {
        width: 100%;
    }

    #blogs-container .fusion-posts-container article:nth-child(odd) h2::after,
    #blogs-container .fusion-posts-container article:nth-child(even) h2::before,
    #blogs-container .divider
    {
        display: none;
    }
}